---
const { title } = Astro.props;
const description = "I’m Paul Jhon Magbanua, a Front-End Developer skilled in coding, CMS, automation, and CRM management (GoHighLevel). I deliver efficient, creative, and results-driven digital solutions.";
const url = "https://magbanua-pauljhon.website/";
const openGraph = '/images/OpenGraph_PaulMagbanua.png';
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Dynamic Title -->
  <title>{title}</title>
  <meta name="description" content={description}>
  <meta name="robots" content="index, follow">

  <!-- Open Graph -->
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:type" content="website">
  <meta property="og:url" content={url}>
  <meta property="og:image" content={openGraph}>

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  <meta name="twitter:image" content={openGraph}>

  <link rel="canonical" href={url}>
</head>
